
/*//not sure why this is needed, but it is. > li? not sure how this works;*/
.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align: center;
    align-items: center;
}

